@page
@model Project2.Pages.AuthorModel
@{
    Layout = null;
}

<!DOCTYPE html>
<html>

<head>
    <title>List of authors</title>
</head>

<body>
    <h2>List of authors</h2>
    <form method="get" asp-page="/Author">
        Department
        <select id="sl_de">
            <option id="de_1">Computing Fundamental</option>
            <option id="de_2">Software Engineering</option>
        </select>
    </form>
    <table border="1">
        <tr>
            <td id="td_instructorId_0">1</td>
            <td id="td_fullName_0">Le Bao Trung</td>
            <td id="td_department_0">
                Computing Fundamental
            </td>
            <td id="td_contractDate_0">12/10/2007</td>
        </tr>
        <tr>
            <td id="td_instructorId_1">2</td>
            <td id="td_fullName_1">Nguyen Gia Hieu</td>
            <td id="td_department_1">
                Computing Fundamental
            </td>
            <td id="td_contractDate_1">15/09/2008</td>
        </tr>
    </table>

</body>
</html>